        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            padding: 0px;
            margin: 0 auto;
            font-weight: 400;
        }
        
        body {
            margin: 0px auto;
            padding: 0px;
            background: #fff !important;
        }
        
        p {
            margin: 0px;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0px;
        }
        
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        
        button:focus,
        input:focus,
        select:focus,
        textarea:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        button:focus-visible,
        input:focus-visible,
        select:focus-visible,
        textarea:focus-visible {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        img {
            width: 100%;
            display: block;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        
        a:hover {
            text-decoration: none;
            color: none;
        }
        
        a,
        button {
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
        }
        
        body {
            overflow-x: hidden;
        }
        /* Header */
        
        .header-app {
            padding-top: 40px;
        }
        
        .navbar-center {
            margin: 0 auto;
        }
        
        .navbar-main__item {
            margin: 0 6px;
        }
        
        .navbar-main__link {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.005em;
            color: #232323 !important;
            position: relative;
            -webkit-transition: .2s all ease;
            -o-transition: .2s all ease;
            transition: .2s all ease;
            position: relative;
        }
        
        .navbar-center .navbar-main__link:hover::after {
            width: 60%;
        }
        
        .navbar-center .navbar-main__link::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 9px;
            width: 0;
            transition: 0.2s all linear;
            border-radius: 6px;
            border-bottom: 2px solid #FF4D20;
        }
        
        .navbar-main__btn-sign-up {
            width: 84px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF !important;
            padding: 12px 10px;
            background: #171717;
            border-radius: 12px;
        }
        
        .navbar-main__btn-cart {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF !important;
            width: 42px;
            height: 42px;
            display: flex;
            background-color: #FF4415;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
        }
        /* Banner */
        
        .banner-app {
            padding: 80px 0 40px 0;
        }
        
        .banner-content__title-1 {
            font-family: 'Seaweed Script', cursive;
            font-weight: 400;
            font-size: 44px;
            line-height: 50px;
            margin: 0 0 16px 0;
            color: #ff4415;
        }
        
        .banner-content__title-2 {
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 62px;
            line-height: 72px;
            margin: 0 0 22px 0;
            color: #101010;
        }
        
        .banner-content__desc {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: -0.01em;
            margin: 0 0 10px 0;
            color: #333;
        }
        
        .banner-input {
            margin: 34px 0 20px 0;
        }
        
        .banner-input__form {
            padding: 2px;
            position: relative;
            background: linear-gradient( 92.18deg, #3FDA7D 48.17%, #00BE4C 100%);
            -webkit-box-shadow: 0px 10px 20px -10px rgb(234 234 234 / 40%);
            box-shadow: 0px 10px 20px -10px rgb(234 234 234 / 40%);
            border-radius: 16px;
        }
        
        .banner-input__input {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 15px;
            width: 306px;
            border: 0;
            border-radius: 14px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding: 24px 16px;
            outline: 0;
            position: relative;
        }
        
        .banner-input__input::-webkit-input-placeholder {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.005em;
            color: #B1B1B1;
        }
        
        .banner-input__input::-moz-placeholder {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.005em;
            color: #B1B1B1;
        }
        
        .banner-input__btn:-ms-input-placeholder {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.005em;
            color: #B1B1B1;
        }
        
        .banner-input__input::-ms-input-placeholder {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.005em;
            color: #B1B1B1;
        }
        
        .banner-input__input::placeholder {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.005em;
            color: #B1B1B1;
        }
        
        .banner-input__btn {
            padding: 18px 16px;
            position: absolute;
            width: 158px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            border: 0;
            background-color: transparent;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            -webkit-transition: .2s all ease;
            -o-transition: .2s all ease;
            transition: .2s all ease;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        
        .banner-input__btn:hover .banner-input__img {
            -webkit-transition: 0.3s ease all;
            -o-transition: 0.3s ease all;
            transition: 0.3s ease all;
            margin-left: 14px;
        }
        
        .banner-input__img {
            margin-left: 10px;
            border-radius: 10px;
            -webkit-transition: .2s all ease;
            -o-transition: .2s all ease;
            transition: .2s all ease;
            width: auto;
            height: auto;
        }
        
        .banner-register {
            margin: 50px 0 20px 0;
        }
        
        .banner-register__title {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #838383;
            margin: 0 0 10px 0;
        }
        
        .banner-img__img {
            width: unset;
        }
        
        .banner-register__link {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            color: #FF4D20 !important;
            text-decoration: none;
        }
        /* Category */
        
        .category-app {
            padding: 50px 0 50px 0;
        }
        
        .category-app__title {
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 34px;
            line-height: 40px;
            display: flex;
            color: #101010;
        }
        
        .category-app__title-img {
            width: auto;
            height: auto;
            display: block;
            margin-left: 10px;
        }
        
        .category-app__list-button {
            display: flex;
            justify-content: flex-end;
            padding: 6px 0;
        }
        
        .category-app__btn {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background: none;
            margin: 0 8px;
            transition: .2s all ease;
        }
        
        .category-app__btn:hover {
            background: #151515;
        }
        
        .category-app__content {
            margin: 70px 0 20px 0;
        }
        
        .category-item {
            background: #F7F7F7;
            border-radius: 24px;
            padding: 20px 30px;
        }
        
        .category-item__title {
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -0.01em;
            color: #171717;
            margin: 0 0 10px 0;
            color: var(--color4);
        }
        
        .category-item__desc {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: #969696;
            margin: 0 0 10px 0;
        }
        
        .category-item__price {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #FF4415;
        }
        
        .category-item__img {
            margin: -40px auto 0 auto;
        }
        
        .category-item__img-3,
        .category-item__img-4 {
            padding: 0 10px;
        }
        /*Commitment  */
        
        .commitment-app {
            padding: 20px 0 50px 0;
        }
        
        .title-top-wrapper {
            width: 50%;
            text-align: center;
            margin: 0 auto 50px;
        }
        
        .commitment-app__item {
            text-align: center;
            padding: 0px 20px 25px 20px;
            margin-bottom: 30px;
        }
        
        .title-top-section {
            font-family: Seaweed Script;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            color: #ff4415;
            margin-bottom: 8px;
        }
        
        .title-top-section-2 {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 52px;
            line-height: 62px;
            text-align: center;
            color: #101010;
        }
        
        .commitment-app__img {
            width: auto;
            height: auto;
            margin: 0 auto;
            max-width: 120px;
            max-height: 120px;
            margin-bottom: 40px;
        }
        
        .commitment-app__txt {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 24px;
            margin-bottom: 8px;
            text-align: center;
            color: #171717;
        }
        
        .commitment-app__desc {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        
        .newsletter {
            margin-top: 50px;
        }
        
        .newsletter__content {
            position: relative;
            padding: 60px 100px;
            border-radius: 24px;
            overflow: hidden;
        }
        
        .newsletter__txt {
            width: 40%;
        }
        
        .newsletter__content::after {
            position: absolute;
            z-index: -1;
            content: "";
            width: 50%;
            left: -106px;
            top: -60%;
            bottom: 0;
            height: 1000px;
            background-color: #FEB618;
            transform: rotate(20deg);
            -webkit-transform: rotate(20deg);
        }
        
        .newsletter__content::before {
            position: absolute;
            content: "";
            z-index: -1;
            top: 0;
            right: 0;
            background-color: #2FB652 !important;
            height: 100%;
            width: 55%;
            background: url(../img/banner-side.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .newsletter__title {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 40px;
            margin-bottom: 20px;
            color: #fff;
        }
        
        .newsletter__desc {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 0px;
            opacity: 0.88;
            color: #fff;
        }
        
        .popular-app {
            padding: 50px 0;
        }
        
        .popular-app__item {
            overflow: hidden;
            background: #FFFFFF;
            border: 1.2px solid #EFEFEF;
            border-radius: 24px;
            margin-bottom: 40px;
        }
        
        .popular-app__item:hover {
            box-shadow: 0px 50px 100px -50px rgb(0, 0, 0, 20%);
            transition: 0.3s ease all;
            border: 1.2px solid transparent;
        }
        
        .popular-app__item-picture {
            padding: 10px;
            height: 200px;
        }
        
        .popular-app__item-img {
            object-fit: contain;
        }
        
        .popular-app__item-list-start {
            display: flex;
            margin-bottom: 10px;
        }
        
        .popular-app__item-info {
            padding: 20px;
        }
        
        .popular-app__item-list-start li+li {
            margin-left: 3px;
        }
        
        .popular-app__item-title {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 12px;
            display: -webkit-box;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            color: #181818;
        }
        
        .popular-app__item-des {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 20px;
            color: #181818;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        
        .popular-app__price-and-btn {
            display: flex;
            justify-content: space-between;
        }
        
        .popular-app__price {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 0px;
            color: #060606;
        }
        
        .popular-app__list-btn {
            display: flex;
        }
        
        .popular-app__btn+.popular-app__btn {
            margin-left: 10px;
        }
        
        .popular-app__heart-btn {
            background-color: #FF4415;
        }
        
        .popular-app__share-btn {
            background-color: #171717;
        }
        
        .popular-app__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            border-radius: 8px;
            border: none;
        }
        
        .popular-app__see-all {
            display: flex;
        }
        
        .popular-app__see-all-btn {
            margin: auto;
            border: none;
            background: -o-linear-gradient(348.02deg, #46C266 41.25%, #2FB652 98.64%);
            background: linear-gradient( 101.98deg, #46C266 41.25%, #2FB652 98.64%);
            border-radius: 16px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            width: 188px;
            height: 62px;
            padding-left: 20px;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        
        .popular-app__see-all-btn:hover .popular-app__see-all-img {
            right: 15px;
        }
        
        .popular-app__see-all-img {
            position: absolute;
            right: 20px;
            width: auto;
            height: auto;
            transition: 0.3s ease all;
        }
        /* find us */
        
        .find-us {
            padding: 50px 0 50px 0;
        }
        
        .pickup-point__top {
            display: flex;
            justify-content: space-between;
        }
        
        .pickup-point {
            margin-left: 50px;
        }
        
        .pickup-point__title {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 10px;
            color: #101010;
        }
        
        .pickup-point__desc {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 15px;
            letter-spacing: 0.005em;
            color: #C0C0C0;
        }
        
        .pickup-point-item__txt-1 {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.2em;
            color: #36BD59;
            text-transform: uppercase;
        }
        
        .pickup-point-item__txt-2 {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;
            color: #C7C7C7;
        }
        
        .pickup-point-item {
            border-bottom: 1.2px solid #F0F0F0;
            margin-right: 50px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        
        .pickup-point-item__location {
            margin: 33px 0 20px 0;
            display: flex;
            justify-content: space-between;
        }
        
        .pickup-point-item__name-location {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 15px;
            letter-spacing: 0.005em;
            color: #101010;
        }
        
        .map-frame {
            padding: 0 40px;
        }
        
        .map-frame iframe {
            border-radius: 12px;
        }
        /* Blog */
        
        .blog-app {
            padding: 50px 0 30px 0;
        }
        
        .blog-item {
            box-shadow: 0px 0px 20px -10px rgb( 0, 0, 0, 10%);
        }
        
        .blog-item__img {
            object-fit: contain;
        }
        
        .title-top-section-desc {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #646464;
            margin-top: 16px;
        }
        
        .blog-item__info {
            padding: 30px;
        }
        
        .blog-item__title {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 22px;
            margin-bottom: 14px;
            color: #1B1B1B;
        }
        
        .blog-item__desc {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #939393;
            margin-bottom: 0px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        
        .blog-item__btn {
            border: none;
            border-radius: 16px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            padding: 20px 70px 20px 10px;
            padding-left: 20px;
            margin-top: 14px;
            text-align: left;
            position: relative;
            display: flex;
            align-items: center;
        }
        
        .blog-item__btn-img {
            position: absolute;
            width: auto;
            height: auto;
            right: 22px;
            background-color: #fff;
            width: 38px;
            height: 38px;
            padding: 11px 0px;
            border-radius: 10px;
            transition: 0.2s ease all;
        }
        
        .blog-item__btn:hover .blog-item__btn-img {
            right: 16px;
        }
        
        .blog-item__btn--green {
            background: linear-gradient( 101.98deg, #46C266 41.25%, #2FB652 98.64%);
        }
        
        .blog-item__btn--green path {
            fill: #36BA58;
        }
        
        .blog-item__btn--red path {
            fill: #FF6139;
        }
        
        .blog-item__btn--yellow path {
            fill: #FFBB27;
        }
        
        .blog-item__btn--red {
            background: linear-gradient( 101.98deg, #FF6741 41.25%, #FF4415 98.64%);
        }
        
        .blog-item__btn--yellow {
            background: linear-gradient( 101.98deg, #FFBC2D 41.25%, #FEB618 98.64%);
        }
        /* Install app */
        
        .install-app {
            padding: 100px 0 50px;
        }
        
        .install-app__img-wrapper {
            width: 267px;
            height: 552.78px;
            margin: auto;
        }
        
        .install-app-content {
            padding-right: 150px;
        }
        
        .install-app__desc {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            opacity: 0.88;
            color: #333;
        }
        
        .install-app__title {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 40px;
            margin-bottom: 22px;
        }
        
        .install-app__btn-list {
            margin-top: 40px;
            display: flex;
            justify-content: space-evenly;
        }
        
        .install-app__btn-item {}
        
        .install-app__btn-link {
            flex: 1;
            padding: 14px 20px;
            display: block;
            text-decoration: none;
            font-family: 'Inter';
            font-style: normal;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 0.04em;
            color: #000000;
            font-weight: 600;
        }
        
        .install-app__btn-item {
            border: 1.09091px solid #DBDBDB;
            border-radius: 18.1818px;
        }
        
        .install-app__btn-img {
            margin-right: 20px;
        }
        /* Subscribe */
        
        .subscribe-app {
            padding: 50px 0;
        }
        
        .subscribe-app__wrapper {
            background-color: #000;
            padding: 60px 90px;
            overflow: hidden;
            border-radius: 24px;
            background-color: #FEB618;
            position: relative;
            z-index: 1;
        }
        
        .subscribe-app__wrapper::before {
            position: absolute;
            content: "";
            background-color: #FF4415;
            height: 600px;
            width: 50%;
            top: -160px;
            left: -25px;
            transform: rotate(18deg);
            z-index: -1;
        }
        
        .subscribe-txt__title {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 40px;
            margin-bottom: 20px;
            color: #fff;
        }
        
        .subscribe-txt__desc {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 0px;
            /* opacity: 0.88; */
            color: #fff;
        }
        
        .subscribe-form {
            position: relative;
            overflow: hidden;
            border-radius: 15px;
        }
        
        .subscribe-form__input {
            background: #FFFFFF;
            border: none;
            padding: 0px 150px 0px 20px;
            height: 64px;
            width: 100%;
        }
        
        .subscribe-form__btn {
            position: absolute;
            right: 0;
            top: 0;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            border: none;
            color: #FFFFFF;
            background: #2FB652;
            height: 100%;
            padding: 0 20px;
        }
        
        .subscribe-form__img {
            background: #FFFFFF;
            -webkit-box-shadow: 0px 10px 20px -8px rgb(185 66 42 / 19%);
            box-shadow: 0px 10px 20px -8px rgb(185 66 42 / 19%);
            border-radius: 10px;
            padding: 7px 0px;
            margin-left: 10px;
            width: 30px;
            height: 30px;
        }
        /* Countries */
        
        .popular-countries {
            padding: 50px 0 100px 0;
        }
        
        .popular-countries__title {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 40px;
            color: #101010;
        }
        
        .popular-countries__title-wrapper {
            margin-bottom: 40px;
        }
        
        .popular-countries__countries-item {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 22px;
            color: #666;
        }
        /* Footer */
        
        .footer-app {
            padding: 60px 0 25px 0;
            background: #F8F8F8;
        }
        
        .footer-info__logo {
            width: auto;
            height: auto;
            margin-bottom: 35px;
        }
        
        .footer-info__desc {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            color: #767676;
            margin-bottom: 40px;
        }
        
        .footer-info__item-social+.footer-info__item-social {
            margin-left: 15px;
        }
        
        .footer-info__list-social {
            display: flex;
        }
        
        .footer-info__link-social {
            width: 30px;
            height: 30px;
            background-color: #252525;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .footer-info__item-social:hover .footer-info__link-social {
            background-color: #FFF;
            border: 1px solid #000;
        }
        
        .footer-info__item-social:hover svg path {
            fill: #000;
        }
        
        .footer-item {
            flex-direction: column;
            align-items: center;
            display: flex;
        }
        
        .footer-item__title {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            color: #030000;
            margin-bottom: 40px;
        }
        
        .footer-item__item {
            margin-bottom: 17px;
        }
        
        .footer-item__link {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            display: inline-block;
            text-decoration: none;
            color: #666;
        }
        
        .footer-item__item:hover .footer-item__link {
            color: #000;
        }
        
        .footer-bottom {
            margin-top: 60px;
            padding-top: 25px;
            border-top: 1px solid #E6E6E6;
            display: flex;
            justify-content: space-between;
        }
        
        .footer-bottom__txt {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: #666666;
        }
        
        @media (max-width: 1399px) {
            .banner-input__input {
                width: 260px;
            }
            .banner-input__btn {
                width: 140px;
                font-size: 12px;
            }
            /* Category */
            .category-item__title {
                font-size: 16px;
            }
            .category-item__desc,
            .category-item__price {
                font-size: 14px;
            }
            .category-item__img {
                width: 100px;
            }
        }